/*gobal styling*/
*{
    margin: 0px;
    padding: 0px;
}

.logo{
    width: 100px;
}
.icons{
    display: flex;
    gap: 15px;
    margin-top: 20px;
    margin-right: 50px;
}
.heading{
    margin-top: 20px;
    color:#2ec4b6 ;
}
#cart{
    text-decoration: none;
    border: 2px ;
    /*box-shadow: 0px 4px 5px rgba(105,105,254, 0.3);*/
}
.head{
  justify-content:space-between; 
  display:flex;
  border:2px solid #2ec4b6;
  background-color: white;
  margin: 20px 10px;
  border-radius: 30px;
  box-shadow: 0px 4px 20px #8ba8f3;
}
.img{
    width: 200px;
}
.items{
    border: 2px ;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 4px 10px  #8ba8f3;
}
.items:hover{
   transform: scale(1.1);
   transition: all 0.2s ease;
}
.space{
    margin-top:60px ;
}
.addtocart{
    margin-top: 20px;
    margin-left: 50px;
    color: #ff9f1c;
    background-color: white;
    padding:3px 5px;
    border-radius: 20px;
    border: 2px solid #d3b487;
}
.products{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 60px;
}


#home{
    padding: 3px 5px ;
    background-color: white;
}
